.app-container {
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, rgba(165, 67, 88, 0), rgba(83, 33, 56, 0.78), rgba(18, 33, 37, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-prompts {
  display: none; /* Hidden by default */
}

@media (max-width: 768px) {
  .toggle-prompts {
    display: block; /* Show on mobile */
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    z-index: 20;
  }
}
